admin/node_modules
api/node_modules
owner/node_modules

*.zip
.DS_Store
.idea

npm-debug.log*

admin/package-lock.json
api/package-lock.json

admin/src/parameters.js
api/parameters.js

docker-compose.yml
api/env/Dockerfile
admin/env/Dockerfile
www/env/Dockerfile

api/logs/*.log
admin/logs/*.log

.persistency

api/public/downloads/*.zip
api/public/expansions/*

backups