version: '3'

services:

  proxy:
    image: jwilder/nginx-proxy:alpine
    restart: unless-stopped
    environment:
      - HTTPS_METHOD=nohttps
    ports:
      - '80:80'
#      - '443:443'
    networks:
      - backend
    volumes:
      - '/var/run/docker.sock:/tmp/docker.sock:ro'
#      - '/etc/letsencrypt/live/sunnyhomes.com.cy/fullchain.pem:/etc/nginx/certs/sunnyhomes.com.cy.crt'
#      - '/etc/letsencrypt/live/sunnyhomes.com.cy/privkey.pem:/etc/nginx/certs/sunnyhomes.com.cy.key'

  owner:
    build: ./owner/env
    restart: unless-stopped
    environment:
      - HTTPS_METHOD=nohttps
      - VIRTUAL_HOST=owner.sunnyhomes.com.cy
    networks:
      - backend
    volumes:
      - './owner:/var/www'

  api:
    build: ./api/env
    restart: unless-stopped
    environment:
      - HTTPS_METHOD=nohttps
      - VIRTUAL_HOST=api.sunnyhomes.com.cy
    networks:
      - backend
    volumes:
      - './api:/var/www'

  admin:
    build: ./admin/env
    restart: unless-stopped
    environment:
      - HTTPS_METHOD=nohttps
      - VIRTUAL_HOST=backend.sunnyhomes.com.cy
    networks:
      - backend
    volumes:
      - './admin:/var/www'

  db:
    image: mongo:4
    restart: unless-stopped
    environment:
      - MONGO_INITDB_DATABASE=sunnyhomes
    networks:
      - backend
    volumes:
      - '.:/var/www'
      - '.persistency/mongo/data:/data/db'

networks:
  backend:
    driver: "bridge"
